.navigation {
    width: 50vw;
    margin-left: 11vw;
}

.navigation ul {
  border-radius: 4px;
  overflow: hidden;
}
.navigation li {
  float: left;
  width: 11vw;
}
.navigation li:hover a::before {
  right: 0;
  left: 0;
}
.navigation a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.navigation a:hover {
  color: #e74c3c;
}
.navigation a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
.navigation a:hover::before {
  right: 0;
  left: 0;
}
 
li {
	list-style: none;
}

